/** 
Estilização do projeto
**/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    /*unidade vh (a altura do viewport), permitindo que o body defina 
    um valor mínimo de altura, com base na altura total do viewport do usuário*/
}

:root{
    --background-clear: #6200EE;
    --cor-da-empresa: #F9AA33;
    --cor-do-logo: rgb(16, 14, 14);
}

/*Estilização do header*/
.cabecalho{
    width: 100%;
    background: url(https://th.bing.com/th?id=OIP.VcOZEvmX-TjE5VQMASCYwgHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
}

.menu .ul-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ul-menu li{
    list-style: none;
    padding: 2rem;
    color: antiquewhite;
}

.bi-person-lines-fill{
  font-size: 60px;
  color:var(--background-clear)  
}

ul li#image-localizacao {
   display: flex;
   padding-right: 0;
   padding-left: 5rem;
   margin-right: .8rem;
   align-items: center;
}

.bi-geo-alt{
    font-size: 60px;
    color: var(--background-clear);
}

.localizacao{
   font-size: 40px;
   padding-left: 0;
   padding-right: 5rem; 
   color: var(--background-clear);
}

.bi-image{
    font-size: 60px;
    color: var(--background-clear);
}

/* Estilização da seção das mensagens */
section#mensagens-inicio{
    padding: 2rem;
    background-color: var(--background-clear);
}

#nome-empresa{
    font-style: bold;
    font-size: 50px;
    margin-bottom: 5rem;
    color: var(--cor-da-empresa);
}

.mensagem{
    color: gray;
    font-size: 25px;
}

/* Estilização da seção input */
section#input{
    display: flex;
    padding-top: .5rem;
    width: 90%;
    margin: auto;
    align-items: center;
}

i.bi-search{
    position: absolute;
    color: var(--cor-da-empresa);
    padding-top: .2rem;
    padding-left: 4rem;
    font-size: 40px;
}

/* Estilização do footer */
.footer{
    background-color: var(--background-clear);
    margin-top: 5rem;
}

#input-text{
    width: 90%;
    margin: auto;
    font-size: 25px;
    padding: 1.2rem 0 1.2rem;
    padding-left: 4rem;
    border: 2mm ridge orange;
    text-align: center;
}

input:focus{
    outline: 0;
}

::-webkit-input-placeholder{
    color: grey;
}

input[type-text]{
    color: grey;
}

/* Estilização da seção categoria */
section#categorias{
    display: flex;
    justify-content: space-around;
}

#categoria-ul{
    display: flex;
    justify-content: center;
}

.categoria-a{
    margin: 3rem 5rem;
    text-decoration: none;
    justify-content: center;
}

li.categoria{
    margin: auto;
}

.categoria{
    margin: auto;
    color: grey;
    list-style: none;
    border: solid 1px var(--cor-da-empresa);
    border-radius: 2rem;
    width: 90%;
    padding: 2rem;
    margin: 1.2rem;
    font-weight: 300;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.categoria:hover{
    background-color: var(--cor-da-empresa);
    border: 5px solid grey;
    transform: scale(1.1);
    box-shadow: 0 5px 15px black;
}

section#cards-produtos{
    display: flex;
}

.card-produto{
    display: block;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 0 5px 15px black;
    justify-content: center;
    align-items: center;
    width: 25%;
    align-content: center;
}

.card-produto:hover{
    box-shadow: inset 50px 000;
    color: white;
}

.card-produto img{
    display: block;
    width: 70%;
    margin: auto;
    justify-content: center;
}

h3.nome-do-produto{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    color: var(--cor-da-empresa);
    margin-bottom: 1.3rem;
    margin-top: .2rem;   
}

/* Estilização do ver mais */
div#ver-mais{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

div#ver-mais a{
    color: grey;
    text-decoration: none;
    margin: .8rem 2rem;
}

/* Estilização da Avaliação */
section#avaliacao{
 text-align: center;
 border: .5em outset var(--cor-da-empresa);
 outline: .5rem solid rgb(246, 235, 30);
 box-shadow: 0 0 0 2rem gray;
 border-radius: 12px;
 margin: 2rem;
 padding: 1rem;
 width: 50%;
 margin: auto;
 font: bold 1rem sans-serif;
}

#titulo-avaliacao{
    font-size: 40px;
    color: var(--cor-da-empresa);
    text-shadow: 2px 2px black;
}

.bi-hand-thumbs-up{
    font-size: 40px;
    color: var(--cor-da-empresa);
    text-shadow: 2px 2px black;
}

.bi-hand-thumbs-down{
    font-size: 40px;
    color: var(--cor-da-empresa);
    text-shadow: 2px 2px black;
}

#frase-avaliacao{
    font-size: 30px;
    color: gray;
    padding: 1.2rem;
}

/* Estilização Login*/ 
form.w3-container{
    flex-wrap: wrap;
    padding-top: 50px;
    font-size: 1.5rem;
    color: var(--background-clear);
}

form.w3-container #bt{
    margin-top: 30px;
    color: var(--cor-do-logo);
    border-radius: 10px;
    
}

/* Cadastro Usuário*/
#form-ca{
    flex-wrap: wrap;
}

.form-cadastro{
    flex-wrap: wrap;
    padding-top: 50px;
    font-size: 1.5rem;
    color: var(--background-clear);
}

#cadastro{
    font-style: bold;
    font-size: 50px;
    margin-bottom: 3rem;
    color: var(--cor-da-empresa);
    text-align: center;
}

/* Estilização Produto */
#icones{
    margin: auto;
    display: inline-flex;
}

#icones .bi-chevron-double-left{
    margin: 15px;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 15px;
    color: var(--background-clear);
}

#icones .bi-heart-fill{
    margin: 15px;
    text-align: center;
    /*border: 3px solid green;*/
    padding: 15px;
    color: rgb(239, 8, 8);
}

.form-produto{
    flex-wrap: wrap;
    padding-top: 50px;
    font-size: 1.5rem;
    color: var(--background-clear);
}

#produto{
    font-style: bold;
    font-size: 50px;
    margin-bottom: 3rem;
    color: var(--cor-da-empresa);
    text-align: center;
}

h1#nome-empresa{
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
}

i.bi-buildings{
    font-size: 30px;
    color: var(--cor-da-empresa);
    margin: auto;
}

/* Estilização Pagamento */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

.footer{
    background-color: var(--background-clear);
    margin-top: 5rem;
}

.footer-card{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-card li{
    list-style: none;
}

.footer-card a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.footer-item{
    margin: .5rem; 
}

i.bi-house-fill{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

i.bi-emoji-smile{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

i.bi-upc-scan{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

i.bi-cart{
   font-size: 60px;
   color: var(--cor-da-empresa);  
}

i.bi-stickies{
    font-size: 60px;
    color: var(--cor-da-empresa);
}

.footer-nome-item{
    font-size: 20px;
    font-weight: 700;
    color: grey;
}

/* usando media queries para transformar o projeto acessível */
@media screen and (max-width: 400px) {
    body{
        width: 100%;
    }
    header{
        display: flex;
    }

    i.bi-geo-alt, .localizacao, i.bi-image{
        display: none;
    }

    ul.footer-card{
        flex-wrap: wrap;
        margin-top: auto;
        justify-content: center;
    }

    .footer-card a{
        width: 100%;
    }
}

/*  */
@media screen and (max-width: 480px) {
    body{
        width: 100%;
    }

    i.bi-search{
        position: absolute;
        margin-right: 3rem;
        padding-left: 2rem;
    }

    #categoria-ul{
        flex-wrap: wrap;
    }

    #cards-produtos{
        flex-wrap: wrap;
    }

    div.card-produto{
       width: 100%; 
    }

    span#frase-da-avaliacao{
        display: none;
    }
}

/* Estilização do Carrinho */
section#carrinho{
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #f2f76d;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(2) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.item a{
    padding: 20 30px;
    margin: auto;
    display: flex;
    text-decoration: none;
    color: var(--background-clear);
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.image img{
   max-width: 100%;
   max-height: 100%;
   height: auto;
   width: auto;
}

.descricao {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.descricao span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.descricao span:first-child {
  margin-bottom: 5px;
}
.descricao span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantidade {
  padding-top: 20px;
  margin-right: 18px;

}
.quantidade input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=bi-plusbi-dashbi-trash] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.bi-dash-lg {
  margin-bottom: 3px;
}
.bi-plus-lg {
  margin-top: 2px;
}
.bi-trash {
    margin: auto;
    margin-top: 34px;
} 
 
button:focus,
input:focus {
  outline:0;
}

div#preco-total{
    padding-top: 34px;
    margin-right: 16px;
}

.preco-total {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  #carrinho {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantidade,
  .descricao {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

/* Estilização Página Produto */
section#prod{
    width: 860px;
    height: 430px;
    margin: 80px auto;
    background: #f2f76d;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
}

h1#np{
    margin: 0;
    text-align: center;
    color: var(--background-clear);
    margin-bottom: 2px;
}

p#n{
    padding: 15px;
}

.it{
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.it:nth-child(2) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.img-p img{
   max-width: 100%;
   max-height: 100%;
   height: auto;
   width: auto;
}

.qt{
  padding-top: 25px;
  margin-left: 25px;

}
.qt input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.preco {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-left: 48px;
  width: 115px;
}
 
.preco span {
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.preco span:first-child {
  margin-bottom: 5px;
}

#bt-1{
  background-color: #a577e5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
  border-radius: 15px;
}

#bt-1 a{
    text-decoration: none;
}